
li.dev-item {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
    /* position: relative; */
}

li.dev-item header  { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img { 
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.dev-item header .user-info {
    margin-left: 10px;
}

.user-info strong {
    display: block;
    font-size: 16px;
    color: #333333;
}

.user-info span {
    font-size: 13px;
    color: #999999;
    margin-top: 2px;
}

li.dev-item p {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}


li.dev-item a {
    color: #8e4dff;
    font-size: 14px;
    text-decoration: none;

    /* display: inline-flex;
    position: absolute;
    bottom: 10px; */
}

li.dev-item a:hover {
    color: #5a2ea6;
}

/* //////////////  Update and Delete  ///////////////////////////////////////////////// */

li.dev-item .button-group {
    float: right;
}

li.dev-item .button-close {
    background-image: url(../../img/icon_close.svg);
    background-size: 22px 22px;
    width: 24px;
    height: 24px;
}

li.dev-item .button-close:hover {
    background-image: url(../../img/icon_close_hover.svg);
}

li.dev-item .button-edit {
    background-image: url(../../img/edit-svgrepo-com.svg);
    width: 24px;
    height: 24px;
}
