section.info-section {
    margin-top: 30px;
    background: white;
    width: 100%;
    height: fit-content;
    padding: 20px 10px 30px 20px;
}

section.info-section h3 {
    text-align: center;
}

div.info {
    padding: 20px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.info div.dev-techs, div.dev-state  {
    flex: 0.4;
    padding: 20px 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.1)
}

div.info ul.list-state .titulo {
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {
    div.info {
        flex-direction: column;
    }

    section.info-section {
        padding: 20px 10px 30px 10px;
    }
}