

main { 
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;
}

@media (max-width: 650px) {

    main {
        max-width: 100% !important;
    }
    main ul {
        margin: auto;
        grid-template-columns: 1fr;
    }
}
